* {
  margin:0px;
  padding:0px;
}

h1 {
  position:absolute;
  top:150px!important;
  left:50% !important;
  width:500px !important;
  margin-left:-250px !important;
  color:white !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}