@()(implicit request: RequestHeader)

@main("Partyo") {
    <script>
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS("@routes.Application.takePicture.webSocketURL()")

        var sendMessage = function() {
            chatSocket.send(JSON.stringify(
                {text: "blaat"}
            ))
        }

        var receiveEvent = function(event) {
            var data = JSON.parse(event.data)
            $('#messages').append(data.message + '<br/>')
        }

        chatSocket.onmessage = receiveEvent
    </script>

    <div id="messages">

    </div>
}
