@()(implicit request: RequestHeader)

@javascript = {
    <script src="@routes.Assets.at("javascripts/shutterButton.js")" type="text/javascript"></script>

  <style>
    * {
      margin:0px;
      padding:0px;
    }

    body, html{
      height:100%;
    }

    body {
      padding: 10px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
    }

    .table {
      width:100%;
      height:100%;
      display:table;
    }

    .child{
      width:100%;
      height:100%;
      background-color: red;
      border-radius: 5px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 25em;
      color:white;
    }
  </style>
}

@main("Partyo", javascript) {

  <div class="table" id="takePicture">
    <div class="child">
      <span class="glyphicon glyphicon-camera"></span>
    </div>
  </div>
}

